<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="logs\nlog-internal.log" internalLogLevel="Debug"
      throwConfigExceptions="true">
      
    <variable name="logDirectory" value="logs"/>

    <targets>
        <target name="probabilityLogFile" 
            xsi:type="File" 
            fileName="${logDirectory}\probability\${shortdate}.log" 
            archiveFileName="${logDirectory}\probability\archives\${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message:withexception=true}"
        />
        <target name="logconsole" 
            xsi:type="Console" 
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message:withexception=true}"
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="probabilityLogFile" />
    </rules>
</nlog>